<!DOCTYPE html>
<html lang="en">
    {{> header }}
    <body>

        {{> navbar }}

        <div class="row">
            <div class="col-8">
                <h1>hola {{ nombre }}</h1>
            </div>

            <div class="col-4">
                <img src="sources/img/programing.jpg" class="img-thumbnail">
            </div>
        </div>

        {{> footer}}
    </body>
</html>